<%- include("partials/header", {tituloWeb: "FORM LOG IN"}) -%>
<%- include("partials/body") -%>
	<h1 class="col-12 text-center">Seccion de Login/Logout</h1>
	<form action="/loginForm" method="post">
        <input type="text" placeholder="¿cual es tu nombre?">
        <button id="submitBtn" type="submit" class="btn btn-success col-4 offset-4">
            Enviar
        </button>
    </form>
<%- include("partials/footer") -%>